body {
/*background: rgb(1,23,83);
background: linear-gradient(0deg, rgba(1,23,83,1) 0%, rgba(128,0,128,1) 99%);
background-repeat: no-repeat;
background-size: cover;
height: 100%;  */
 
}

.bb {

	 
                 background: rgb(1,23,83);
background: linear-gradient(0deg, rgba(1,23,83,1) 0%, rgba(0,128,103,1) 99%);

}

.my-btn {
	background: rgb(1,23,83);
background: linear-gradient(0deg, rgba(1,23,83,1) 0%, rgba(128,0,86,1) 99%);
}
